.card{
    width: 300px;
    height: 350px;
    background: white;
    border-radius:10px;
    box-shadow: 0px 1px 10px 1px rgb(189, 183, 183);
    overflow: hidden;
}
.upper-container{
    height: 100px;
    background: linear-gradient(to left,#8ea1f3,#86d5f5);

}
.image-container img{
    background: white;
    width: 100px;
    height: 100px;
    
    border-radius:50%;
    padding:5px;
    transform:translate(95px,45px);
 

}
.img1:hover{
  
    border:3px solid #008eb9;

}
.lower-container{
    
    margin-top:60px;
    height: 300px;
    background: white;
    text-align: center;
    font-family:'Titillium web',sans-serif;
}
.lower-container h3,h4,p{
    margin:0;
padding:0;
font-family: Titillium;
}
.lower-container h3{
    color:#2f2d2e;
font-weight:600;
font-size:1.5rem;
}
.lower-container h4{
    color: #0012b9;
    font-weight: 700;
    font-size:1.2rem;
}

.lower-container p{
    font-family: sans-serif;
    font-weight: 300;
    color:#2f2d2e;
    margin:0.4rem;
    font-size:0.9rem;
line-height: 1;
    text-align: center;
}
button{
    margin:1rem;
    margin-top:0.5rem;
    color:#2f2d2e;
    font:bold;
    background-color: white;
    border:1px solid #008eb9;
    padding:0.6rem;
    border-radius: 6px;
    transition-duration: 0.5s;
    animation: ease-in-out;
}
button:hover{
    background-image:linear-gradient(to left,#b5acdb,#02c4ff); ;

border:none;
color:white;
}


