.cardStudent{
    display:grid;
    grid-template-columns: auto auto auto auto;
    row-gap: 5%;
    margin-top:20px;

    
}

@media screen  and (max-width:1400px){

    .cardStudent{
        display:grid;
        grid-template-columns: auto auto auto ;
        row-gap: 5%;
        margin-top:20px;
    
        
    }
}
@media screen  and (max-width:1100px){
    .cardStudent{
        display:grid;
        grid-template-columns: auto auto  ;
        row-gap: 5%;
        margin-top:20px;
    }
}
.subHome{

}

@media screen  and (max-width:720px){

    .cardStudent{
        display:grid;
        grid-template-columns: auto   ;
        row-gap: 2%;
        margin-top:20px;
    

        
    }
}
.student{
    
    display:flex;
    justify-content: center;
    
}
.stats{
    font-weight:800;
    color:#6c757d;
    font-size:24px;
    line-height:1.2;
    margin-top:2%;
    margin-bottom:50px;
margin-left: 60px;
}
.but1{
    display:flex;
    justify-content:space-between;
}
.sec{
    display: block;
    top: 10px;
}
.but{
    background-color:#36bea6;
    width: 100%;
    border-top-left-radius:25px;  
    border-top-right-radius:25px;  
    border-bottom-right-radius:25px;  
    border-bottom-left-radius:25px; 
 border-color: #36bea6;   
 color: white;
 
}
