.enable{height:100vh;
    background-color:black;

  
    display:flex;
    justify-content:center;
    align-items:center;
}
.box{
    background-color: white;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    height: 500px;
    

    
}