.Icard {
  width: 250px;
  height: 350px;
  background: white;
  margin-inline: 2.5rem;
  margin-top: 1.5rem;
  border-radius:10px;
  box-shadow: 0px 1px 10px 1px rgb(189, 183, 183);
  overflow: hidden;
}

.Iupper-container{
  height: 100px;
  background: linear-gradient(to left,#8ea1f3,#86d5f5);

}

.Iimage-container img{
  background: white;
  width: 100px;
  height: 100px;
  
  border-radius:50%;
  padding:5px;
  transform:translate(5px,45px);
}

.Ilower-container h3,h4,p{
  margin:10;
padding:10;
font-family: Titillium;
}
.Ilower-container h3{
  color:#2f2d2e;
font-weight:600;
font-size:1.5rem;
}
.Ilower-container h4{
  color: #0012b9;
  font-weight: 700;
  font-size:1.2rem;
}

.Ilower-container p{
  font-family: sans-serif;
  font-weight: 300;
  color:#2f2d2e;
  margin:0.4rem;
  font-size:0.9rem;
line-height: 1;
  text-align: center;
}

.Icard:hover {
	transition: 200ms;
	border-color: tomato;
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);       /* for removing hive reffect on card */
}

.Icard-header {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
    
}


.profile {
	width: 2.5rem;
	height: 2.5rem;
	background-color: tomato;
	border-radius: 100%;
	margin:0.625rem;
	font-size: 20pt;
	text-align: center;
	font-weight: bold;
	color: white;
	justify-content: center;
}

.letter {
	vertical-align: middle;
}

.Icard-title-group {
	justify-content: center;
}

.Icard-title {
	flex: 0.5;
	font-size: large;
	margin-bottom: 8;
	margin-top: 0;
	margin-left: 6.25rem;
}


.Icard-image {
	border-radius: 100%;
	border: solid 5px black;

}

.Icard-image:hover {
	transition: 200ms;
	opacity: 0.3;
	border-style: solid;
}

.Icard-text1 {
	width: auto;

	text-align: center;
    padding-top: 15%;
    color:#2f2d2e;
    font-weight:600;
    font-size:1.5rem;
    font-family: Titillium;
}

.Icard-text2 {
	width: auto;
	text-align: center;
    padding-top: 5% ;
    color: #0012b9;
  font-weight: 700;
  font-size:1.2rem;
  font-family: Titillium;
}
.Icard-text3 {
	width: auto;
	color: grey;
	font-size: large;
	text-align: center;
    padding-top:5% ;
    padding-bottom:5% ;
}


.Icard-like-bar {
	display: flex;
	align-items: center;
	margin-top: 1.25rem;
	
}

.modal-overlay {
    padding-top:5% ;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    opacity: .5;
  }
  
  .modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
  }
  
  .modal {
    
    z-index: 100;
    background: white;
    position: relative;
    margin: 1.75rem auto;
    border-radius: 3px;
    max-width: 800px;
    padding: 2rem;
  }
  
  .modal-header {
    display: flex;
    justify-content: flex-end;
  }
  
  .modal-close-button {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    opacity: .3;
    cursor: pointer;
    border: none;
    
  }
  
  .button-default {
    background: #247BA0;
    color: #fff;
    font-size: .9rem;
    font-weight: 700;
    border: none;
    border-radius: 3px;
    padding: .3rem 1rem;
    margin-left: .5rem;
  }

  
  @media only screen and (max-width: 768px) {
    .Inter-header {
      grid-template-columns: auto auto auto ;
    }
    .heading1{
      text-align: center;
    }
  }
  
  @media only screen and (max-width: 666px) {
    .Icard
    {
      margin-inline: 1rem;
    }
  }
  
  @media only screen and (max-width: 574px) {
    .Icard
    {
      margin-inline: 0.4rem;
    }
  }
